node_modules
dist
.env
.env.local
*.local
npm-debug.log*
*.log
.git
.github
.vscode
.husky
.vite
.eslintcache
coverage
playwright-report
test-results
e2e
tests
tsconfig.tsbuildinfo
.DS_Store
*.md
LICENSE
