name: Auto Approve

on:
  pull_request:
    types: [opened, reopened]

permissions:
  pull-requests: write

jobs:
  auto-approve:
    name: Auto Approve Bot PRs
    runs-on: ubuntu-latest
    if: >-
      github.actor == 'renovate[bot]' ||
      github.actor == 'dependabot[bot]'
    steps:
      - name: Auto approve
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
