name: Auto Approve

on:
  pull_request_target:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write

jobs:
  auto-approve:
    name: Auto Approve PRs
    runs-on: ubuntu-latest
    if: >-
      github.event.pull_request.user.login == 'stuartshay' ||
      github.event.pull_request.user.login == 'renovate[bot]' ||
      github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Auto approve PR
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.pulls.createReview({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.payload.pull_request.number,
              event: 'APPROVE'
            });
